<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>ScanSrv</title>
    <meta name="description" content="ScanSrv">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>



    <div class="w3-panel">
        <div class="w3-card-4 w3-center">
            <header class="w3-container w3-teal">
                <h1>ScanSrv</h1>
            </header>

            <div class="w3-container w3-pale-green">
                <p> <i>SCAN</i> <i>S</i>e<i>RV</i>ice for documents.</p>
                <i id="spin-scan" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <p>
                    <a id="btn-download" href="api/v1/last_scan" class="w3-button w3-round w3-blue">DOWNLOAD</a>
                </p>
            </div>

            <button id="scan" class="w3-button w3-block w3-dark-grey">SCAN</button>
        </div>
    </div>

</body>

</html>